@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}

/* rotate 받아야하는 애가 이미지임. html상 <img class="img-rotate" src="img/loading.png" alt="" /> 된 것*/
@keyframes rotate {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cont-result-loading {
  display: none;
}

.cont-result {
  display: none;
}

#modal {
  display: none;
}

.img-rotate {
  animation: rotate 1.1s infinite linear;
}

/* app */
#app {
  font-family: GmarketSansMedium;
  background-color: #5b2385;
  color: white;
  text-align: center;
  padding-bottom: 70px;
}

.tit-law {
  display: inline-block;
  position: relative;
  margin-top: 194px;
}

.tit-law .img-tit {
  /* position: relative; */
  z-index: 10;
}

.tit-law::after {
  display: block;
  content: "";
  /* position:absolute => ~한 부모를 기준으로 잡음 */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 225px;
  height: 225px;
  margin: -112px 0 0 -112px;
  background-image: url("../img/title_bg.png");
  background-position: center;
}

.img-txt {
  max-width: 486px;
  margin: 125px auto 84px;
}

.txt-desc {
  position: relative;
  max-width: 475px;
  margin: 0 auto 96px;
  line-height: 30px;
  font-size: 18px;
}

.txt-desc .tit-desc {
  position: relative;
  font-size: 24px;
  font-weight: bold;
}

.txt-desc::before,
.txt-desc::after {
  content: "";
  position: absolute;
  width: 37px;
  height: 32px;
}

.txt-desc::before {
  left: 0;
  top: 25%;
  background-image: url("../img/txt-left.png");
}

.txt-desc::after {
  right: 0;
  bottom: 25%;
  background-image: url("../img/txt-right.png");
}

/* form */
.cont-inp .txt-wannabe {
  margin-bottom: 30px;
}

.cont-inp .txt-time {
  margin-bottom: 116px;
}

/* 공통입력창 */
.cont-inp .txt-wannabe input,
.cont-inp .txt-time input {
  width: 224px;
  height: 53px;
  margin: 0 10px;
  border: none;
  border-radius: 7px;
  text-align: center;
  font-size: 20px;
  vertical-align: 4px;
  font-family: "GmarketSansMedium";
}

.btn-go,
.btn-share,
.btn-close {
  margin-bottom: 0;
}
.cont-inp .btn-exc {
  position: relative;
}
.cont-inp .btn-exc::after {
  display: block;
  position: absolute;
  right: -72px;
  bottom: -20px;
  content: "";
  width: 64px;
  height: 72px;
  background-image: url("../img/hand.png");
}

/* 모달 - 훈련하러가기 */
#modal {
  /* position: fixed; */
  display: none;
  justify-content: center;
  align-items: center;
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; */
}
