body{
    padding: 20px;
}

.App{
    margin: 0 auto;
    width: 400px;
}

.App > section {
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(245, 245, 245);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}