/* 구체성 
선택자를 얼마나 명시적으로 선언했느냐를 수치화한 것, 구체성 값이 클수록 우선 적용 
구체성은 4가지 숫자 값으로 구성되어있음. 제일 좌측 숫자가 클수록 구체성이 높음
*/

h1 {
  color: red;
}
body h1 {
  color: green;
}

p#page {
  color: blue;
}

p#page {
  color: red !important;
} /* important - 별도의 구체성은 존재하지 않으나 모든 구체성을 무시하고 우선권을 가짐*/
